* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Nunito Sans', sans-serif;
	transition: 0.5s;
}

:root {
	--text: #111517;
	--input: #858585;
	--background: #fafafa;
	--elements: #ffffff;
}

.dark-mode:root {
	--text: #ffffff;
	--input: #2b3945;
	--background: #202c37;
	--elements: #2b3945;
}

body {
	background: var(--background);
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
strong {
	color: var(--text);
}

input {
	border: none;
}

code {
	display: flex;
	justify-content: center;
	align-items: center;
	font-weight: bold;
}

@media (min-width: 280px) {
	code {
		font-size: 0.75rem;
	}
}
@media (min-width: 320px) {
	code {
		font-size: 0.875rem;
	}
}
@media (min-width: 540px) {
	code {
		font-size: 1rem;
	}
}
